*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* ### Primary */
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);

  /* ### Neutral */

  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
}

body {
  font-size: 28px;
  font-family: "Manrope", sans-serif;
  color: var(--NeonGreen);
}

h1 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  min-width: 300px;
  background-color: var(--DarkBlue);
}

.advice-container {
  width: 40%;
  min-height: 50vh;
  background-color: var(--DarkGrayishBlue);
  padding: 2rem;
  border-radius: 0.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
